@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

        body {
            margin: 0;
            font-family: 'Oswald', sans-serif;
        }
        header h1 {
            text-transform: uppercase;
        }

        .nav {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: black;
            color: white;
            padding: 15px;
            transition: 0.2s;

        }

        @media only screen and (max-height: 650px) {
            .nav {
                font-size: 20px;
            }
            }



        .nav a {
            text-decoration: none;
            color: white;
            transition: 0.2s;
            cursor: pointer;
        }

        .nav a:hover {

            border-bottom: 1px solid white
        }

        header {
            background-color: #ff6961;
            text-align: center;
            padding-top: 15%;
            padding-bottom: 15%;
            color: whitesmoke;
            margin-bottom: 5%;
            padding-left: 30px;
            padding-right: 30px;
            transition: 0.2s;
        }

       header h1 {
          font-size: 50px;
        }

        header p {
          font-size: 20px;
        }
        @media only screen and (max-width: 600px) {
            header {
                padding-top: 30%;
                padding-bottom: 30%;
            }
            }

        p {
            letter-spacing: 2px;
        }
        .main {
            padding-left: 15%;
            padding-right: 15%;
        }

        @media only screen and (max-width: 600px) {
            .main {
                padding-left: 20px;
                padding-right: 20px;
            }
            }

        .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    padding: 10px 30px;
    font-size: 20px;
    border: 2px solid  #ff6961;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
}

.btn:hover{
    background-color:  #ff6961;
    color: white;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
  }
  
  @media screen and (max-height: 600px) {
    .column {
      width: 100%;
    }
    }
  
    img {
      border-radius: 10px;
    }

    .links a {
      color: black;
      font-size: 18px;
      text-decoration: none;
      transition: 0.3s;
      padding-top: 5px;
    }

    .links a:hover{
      color: #ff6961;
      text-decoration: underline;
    }

